<div class="container">
    <div >
        <mat-toolbar class="header" color="primary">
            <span>Angular - To Do</span>

            <div class="menu-buttons" *ngIf=" screenWidth >= 610; else widthMobile">
                <button mat-raised-button routerLink="/">Home</button>
                <button mat-raised-button routerLink="/task">To Do</button>
                <button mat-raised-button style="text-decoration: line-through; color: silver;" routerLink="/">About</button>
            </div>
            
            <ng-template  #widthMobile>
                <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/">Home</button>
                    <button  mat-menu-item routerLink="/task">To Do</button>
                    <button mat-menu-item disabled>About</button>
                </mat-menu>
            </ng-template>

        </mat-toolbar>
    </div>
    <main >
        <router-outlet></router-outlet>
    </main>
    <mat-toolbar class="footer">        
        <span> To Do - 2022  🦦 <a style="text-decoration: none; color: black;" target="_blank" href="https://github.com/enzocassemiro">GitHub</a></span>
    </mat-toolbar>
</div>
